h1 {
      color: rgb(102, 102, 101);
   }
body {
        background-image: url("mybackground.jpg");
     }
#Para1 {
            color: rgb(189, 117, 36); width: 35%; margin-left: 50px;
          }
#Game { 
           float: left; margin-left: 10px;
       }
#Book { 
        float: left; clear: left;
      }
#HBT { 
       margin-right: 20px;
     }
#Me {
      float: left; clear: left; margin-bottom: 30px;
    }
#table {
        float: left; clear: left; width: 35%;
       }
