h1 {
      color: rgb(235, 73, 129);
   }
body {
        background-image: url("mybackground.jpg");
     }
#Para1 {
            color: rgb(189, 117, 36); width: 30%;
          }
#Game { 
           float: left;
       }
#Book { 
        float: left; clear: left;
      }
#HBT { 
       margin-right: 20px;
      }
